<template>
    <div>
        <h1>Oh no, you ran into an error!</h1>
        <h2>{$page.error.message}</h2>
        <Button on:click={() => {goto('/')}}>Go Home</Button>
    </div>
</template>

<script>
    import {page} from '$app/stores';
    import {Button} from "carbon-components-svelte";
    import {goto} from "$app/navigation";
</script>

