<template>
    <Theme bind:theme>
        <div>
            <p>Root Template</p>
            <Content>
                <slot></slot>
            </Content>
        </div>
    </Theme>
</template>

<script>
    import "carbon-components-svelte/css/all.css";
    import {Content, Theme} from "carbon-components-svelte";
    import themeStore from '../stores/theme';
    let theme;
    themeStore.subscribe(value => {
        theme = value;
    });
</script>
