<svelte:head>
    <title>Azur Lane API</title>
</svelte:head>

<template>
    <div>
        <h2>Root Index</h2>
    </div>
</template>

<script>
    import authStore from '../stores/auth';
    import {goto} from "$app/navigation";
    import {onMount} from "svelte";

    let token;
    authStore.subscribe((val) => {
        token = val;
    })
    onMount(async () => {
        if (token) {
            console.debug('Token exists, redirecting to dashboard.')
            await goto('/dashboard')
        } else {
            console.debug('Token does not exist, redirecting to login.')
            await goto('/login')
        }
    })
</script>

