<svelte:head>
    <title>AL API - API Information</title>
</svelte:head>

<template>
    <div>
        <h1>API Information</h1>
        {#if loading}
            <DataTableSkeleton/>
        {:else}
            <DataTable
                    headers="{[
                        { key: 'name', value: 'Name' },
                        { key: 'value', value: 'Value'}
                    ]}"
                    bind:rows="{rows}"
            />
        {/if}
    </div>
</template>

<script>
    import {DataTable, DataTableSkeleton} from "carbon-components-svelte";
    import RESTHandler from "$lib/rest.js";
    import {onMount} from "svelte";
    import authStore from "../../../stores/auth";
    import userStore from "../../../stores/user";
    import {goto} from "$app/navigation";

    const api = new RESTHandler();

    let rows = [];
    let loading = true;

    let token;
    let user;

    authStore.subscribe(value => token = value);
    userStore.subscribe(value => user = value);


    function recursiveDictToRows(dict, prefix = '') {
        if (dict === null || typeof dict !== 'object') {
            return;
        }

        for (const [key, value] of Object.entries(dict)) {
            if (typeof value === 'object') {
                recursiveDictToRows(value, prefix + key + '.');
            } else {
                rows.push({id: prefix + key, name: prefix + key, value: value});
            }
        }
    }

    onMount(async () => {
        if (token && user) {
            if (user.root) {
                const data = await api.root();
                recursiveDictToRows(data);
                loading = false;
            } else {
                await goto('/dashboard');
            }
        } else {
            authStore.update(() => null);
            userStore.update(() => null);
            await goto('/login');
        }
    })
</script>
