<template>
    <div>
        <div>
            <Header company="LUCIA" platformName="Azur Lane API">
                <svelte:fragment slot="skip-to-content">
                    <SkipToContent/>
                </svelte:fragment>
                <HeaderNav>
                    <HeaderNavItem href="/dashboard" text="Dashboard"/>
                    <HeaderNavItem href="/dashboard/keys" text="API Keys"/>
                </HeaderNav>
                <HeaderUtilities>
                    <HeaderAction
                            bind:isOpen={userMenuOpen}
                            icon={UserAvatarFilledAlt}
                            closeIcon={UserAvatarFilledAlt}
                            text="{user ? user.username : 'User'}"
                    >
                        <HeaderPanelLinks>
                            {#if user && user.root}
                                <HeaderPanelDivider>Server</HeaderPanelDivider>
                                <HeaderPanelLink href="/dashboard/info">Information</HeaderPanelLink>
                            {/if}
                            <HeaderPanelDivider>Account</HeaderPanelDivider>
                            <HeaderPanelLink>Profile</HeaderPanelLink>
                            <HeaderPanelLink href="/dashboard/keys">API Keys</HeaderPanelLink>
                            <HeaderPanelDivider>Themes</HeaderPanelDivider>
                            <HeaderPanelLink on:click={() => {themeStore.update(() => "white")}}>White</HeaderPanelLink>
                            <HeaderPanelLink on:click={() => {themeStore.update(() => "g10")}}>Light</HeaderPanelLink>
                            <HeaderPanelLink on:click={() => {themeStore.update(() => "g80")}}>Gray</HeaderPanelLink>
                            <HeaderPanelLink on:click={() => {themeStore.update(() => "g90")}}>Dark</HeaderPanelLink>
                            <HeaderPanelLink on:click={() => {themeStore.update(() => "g100")}}>Black</HeaderPanelLink>
                            <HeaderPanelDivider></HeaderPanelDivider>
                            <HeaderPanelLink on:click={() => {logout()}}>Logout</HeaderPanelLink>
                        </HeaderPanelLinks>
                    </HeaderAction>
                </HeaderUtilities>
            </Header>
        </div>
        <Content>
            <slot></slot>
        </Content>
    </div>
</template>

<script>
    import {
        Content,
        Header, HeaderAction,
        HeaderNav,
        HeaderNavItem,
        HeaderPanelDivider, HeaderPanelLink, HeaderPanelLinks, HeaderUtilities,
        SkipToContent
    } from "carbon-components-svelte";
    import UserAvatarFilledAlt from "carbon-icons-svelte/lib/UserAvatarFilledAlt.svelte";
    import {onMount} from "svelte";
    import RESTHandler from "$lib/rest";
    import authStore from "../../stores/auth";
    import userStore from "../../stores/user";
    import themeStore from "../../stores/theme";
    import {goto} from "$app/navigation";

    const api = new RESTHandler()

    let user;
    userStore.subscribe(value => {
        user = value;
    })
    let token;
    authStore.subscribe(value => {
        token = value;
    })

    let userMenuOpen = false;

    function logout() {
        authStore.update(() => null);
        goto("/login")
    }

    onMount(async () => {
        if (token) {
            const response = await api.self(token);
            if (response.code === 200) {
                user = response.data;
                userStore.update(() => user);
            } else {
                authStore.update(() => null);
                await goto("/login")
            }
        } else {
            await goto("/login")
        }
    })
</script>

