<svelte:head>
    <title>AL API - Dashboard</title>
</svelte:head>

<template>
    <div>
        <h1>Dashboard</h1>
        {#if user}
            <h2>Welcome, {user.username}.</h2>
        {:else}
            <SkeletonText heading/>
        {/if}
        {#if !loading}
            <h3>Your API usage statistics.</h3>
            {#if user.limits.keys}
                <ProgressBar
                        labelText="API Keys"
                        status="{keyProgress >= 80 ? 'error' : 'active'}"
                        helperText="{`You created ${keys.length}/${user.limits.keys} key${keys.length === 1 ? '' : 's'}.`}"
                        bind:value={keyProgress}
                />
            {:else}
                <ProgressBar
                        labelText="API Keys"
                        helperText="{`You created ${keys.length} key${keys.length === 1 ? '' : 's'}.`}"
                />
            {/if}
            {#if user.limits.requests}
                <ProgressBar
                        labelText="API Requests"
                        status="{requestProgress >= 80 ? 'error' : 'active'}"
                        helperText="{`You have used ${totalKeyReqs}/${user.limits.requests} request${totalKeyReqs === 1 ? '' : 's'}.`}"
                        bind:value={requestProgress}
                />
            {:else}
                <ProgressBar
                        labelText="API Requests"
                        helperText="{`You have used ${totalKeyReqs} request${totalKeyReqs === 1 ? '' : 's'}.`}"
                />
            {/if}
        {:else}
            <SkeletonText lines="{6}"/>
        {/if}
    </div>
</template>

<script>
    import userStore from '../../stores/user'
    import {ProgressBar, SkeletonText} from "carbon-components-svelte";
    import {onMount} from "svelte";
    import authStore from "../../stores/auth";
    import {goto} from "$app/navigation";
    import RESTHandler from "$lib/rest.js";

    const api = new RESTHandler();

    let user;
    userStore.subscribe((val) => {
        user = val;
    })

    let token;
    authStore.subscribe((val) => {
        token = val;
    })

    let keys = [];
    let totalKeyReqs = 0;

    let loading = true;
    let keyProgress = 0;
    let requestProgress = 0;

    onMount(async () => {
        if (token && user) {
            console.debug("User is logged in.")
            const userResp = await api.self(token);
            if (userResp.code === 200) {
                userStore.update(() => userResp.data)
                const keyResp = await api.keys(token);
                keys = keyResp.data ? keyResp.data : [];
                if (keyResp.code === 200) {
                    if (user.limits.keys) {
                        keyProgress = (keyResp.data.length / user.limits.keys) * 100;
                        console.debug(keyProgress)
                    } else {
                        keyProgress = 0;
                    }
                    if (user.limits.requests) {
                        totalKeyReqs = 0;
                        keyResp.data.forEach((key) => {
                            totalKeyReqs += key.times_used_this_month;
                        })
                        requestProgress = (totalKeyReqs / user.limits.requests) * 100;
                        console.debug(totalKeyReqs)
                    } else {
                        requestProgress = 0;
                    }
                } else if (keyResp.code === 404) {
                    keyProgress = 0;
                    requestProgress = 0;
                } else {
                    console.error(keyResp)
                }
                loading = false;
            } else {
                authStore.update(() => null)
                userStore.update(() => null)
                await goto("/login");
            }
        } else {
            authStore.update(() => null)
            userStore.update(() => null)
            await goto("/login");
        }
    })
</script>
