<svelte:head>
    <title>AL API - API Keys</title>
</svelte:head>


<template>
    <div>
        <h1>API Keys</h1>
        {#if loading}
            <DataTableSkeleton headers="{headers}"/>
        {:else}
            <DataTable bind:headers="{headers}" bind:rows="{rows}">
                <svelte:fragment slot="cell" let:cell>
                    {#if cell.key === "overflow"}
                        <OverflowMenu flipped>
                            <OverflowMenuItem text="Edit" on:click={() => {showEditKey(cell.value)}}/>
                            <OverflowMenuItem danger text="Delete" on:click={() => {showDeleteKey(cell.value)}}/>
                        </OverflowMenu>
                    {:else}{cell.value}{/if}
                </svelte:fragment>
                <Toolbar>
                    <ToolbarContent>
                        <Button
                                kind="primary"
                                on:click={() => {showCreateModal = true}}
                                disabled="{user.limits.keys ? keys.length >= user.limits.keys : false}"
                        >
                            Create
                        </Button>
                    </ToolbarContent>
                </Toolbar>
            </DataTable>
            {#if deleteKeyItem}
                <Modal
                        danger
                        bind:open={showDeleteModal}
                        modalHeading="{`Delete ${deleteKeyItem.name}?`}"
                        primaryButtonText="Delete"
                        secondaryButtonText="Cancel"
                        on:click:button--secondary={() => {clearModals()}}
                        on:close={() => {clearModals()}}
                        on:submit={async () => await doDelete()}
                >
                </Modal>
            {/if}
            {#if editKeyItem}
                <Modal
                        hasForm="{true}"
                        bind:open={showEditModal}
                        modalHeading="{`Edit ${editKeyItem.name}?`}"
                        primaryButtonText="Save"
                        secondaryButtonText="Cancel"
                        on:click:button--secondary={() => {clearModals()}}
                        on:close={() => {clearModals()}}
                        on:submit={async () => await doEdit()}
                >
                    <Form on:submit={() => doCreate()}>
                        <TextInput
                                name="name"
                                required="{true}"
                                labelText="Key Name"
                                placeholder="Enter a new name for your key."
                                bind:value={newKeyName}
                        />
                    </Form>
                </Modal>
            {/if}
            {#if showCreateModal}
                <Modal
                        hasForm="{true}"
                        bind:open={showCreateModal}
                        modalHeading="{`Create a new API Key?`}"
                        primaryButtonText="Save"
                        secondaryButtonText="Cancel"
                        on:click:button--secondary={() => {clearModals()}}
                        on:close={() => {clearModals()}}
                        on:submit={async () => await doCreate()}
                >
                    <Form on:submit={() => doCreate()}>
                        <TextInput
                                name="name"
                                required="{true}"
                                labelText="Key Name"
                                placeholder="Enter a name for your key."
                                bind:value={newKeyName}
                        />
                    </Form>
                </Modal>
            {/if}
        {/if}
    </div>
</template>
<script>
    import {onMount} from "svelte";
    import authStore from "../../../stores/auth";
    import userStore from "../../../stores/user";
    import {goto} from "$app/navigation";
    import RESTHandler from "$lib/rest";
    import {
        Button,
        DataTable,
        DataTableSkeleton, Form,
        Modal,
        OverflowMenu,
        OverflowMenuItem,
        TextInput, Toolbar, ToolbarContent
    } from "carbon-components-svelte";

    const api = new RESTHandler();

    let headers = [
        {key: 'id', value: 'ID'},
        {key: 'name', value: 'Name'},
        {key: 'created_at', value: 'Created At'},
        {key: 'times_used_this_month', value: 'Times Used This Month'},
        {key: 'times_used', value: 'Times Used Total'},
        {key: 'overflow', value: ''}
    ];

    let rows = [];

    let token;
    authStore.subscribe(value => {
        token = value;
    })
    let user;
    userStore.subscribe(value => {
        user = value;
    })
    let loading = true;
    let keys = [];

    let showCreateModal = false;
    let showEditModal = false;
    let showDeleteModal = false;

    let editKeyId = null;
    let deleteKeyId = null;

    let editKeyItem = null;
    let deleteKeyItem = null;

    let newKeyName = "";

    function showEditKey(id) {
        editKeyId = id;
        keys.forEach((key) => {
            if (key.id === editKeyId) {
                editKeyItem = key;
            }
        })
        showEditModal = true;
    }

    function showDeleteKey(id) {
        deleteKeyId = id;
        keys.forEach((key) => {
            if (key.id === deleteKeyId) {
                deleteKeyItem = key;
            }
        })
        showDeleteModal = true;
    }


    function clearModals() {
        showCreateModal = false;
        showEditModal = false;
        showDeleteModal = false;
        editKeyId = null;
        deleteKeyId = null;
        editKeyItem = null;
        deleteKeyItem = null;
        newKeyName = '';
    }

    async function doCreate() {
        await api.createKey(token, newKeyName)
        clearModals()
        await updateKeys()
    }

    async function doEdit() {
        await api.updateKey(token, editKeyItem.id, newKeyName)
        clearModals()
        await updateKeys()
    }


    async function doDelete() {
        await api.deleteKey(token, deleteKeyItem.id)
        clearModals()
        await updateKeys()
    }


    async function updateKeys() {
        loading = true
        const resp = await api.keys(token);
        if (resp.code === 200) {
            console.debug("Fetched user's API keys.")
            keys = resp.data;
            rows = []
            keys.forEach((key) => {
                const dt = new Date(key.timestamp * 1000)
                rows.push({
                    id: key.id,
                    name: key.name,
                    times_used: key.times_used,
                    times_used_this_month: key.times_used_this_month,
                    timestamp: key.timestamp,
                    created_at: `${dt.toLocaleDateString()} ${dt.toLocaleTimeString()}`,
                    token: key.token,
                    overflow: key.id
                })
            })
            loading = false;
        } else if (resp.code === 404) {
            keys = [];
            rows = [];
            loading = false;
        } else {
            console.error(`Failed to fetch keys: ${resp.code} ${resp.message}`)
        }
    }


    onMount(async () => {
        if (token && user) {
            console.debug("User is logged in.")
            const resp = await api.keys(token);
            if (resp.code === 200) {
                console.debug("Fetched user's API keys.")
                rows = [];
                keys = resp.data;
                keys.forEach((key) => {
                    const dt = new Date(key.timestamp * 1000)
                    rows.push({
                        id: key.id,
                        name: key.name,
                        times_used: key.times_used,
                        times_used_this_month: key.times_used_this_month,
                        timestamp: key.timestamp,
                        created_at: `${dt.toLocaleDateString()} ${dt.toLocaleTimeString()}`,
                        token: key.token,
                        overflow: key.id
                    })
                })
                loading = false;
            } else if (resp.code === 404) {
                keys = [];
                rows = [];
                loading = false;
            } else {
                console.error(`Failed to fetch keys: ${resp.code} ${resp.message}`)
            }
        } else {
            authStore.update(() => null)
            userStore.update(() => null)
            await goto("/login");
        }
    });
</script>