<svelte:head>
    <title>AL API - Login</title>
</svelte:head>

<template>
    <div>
        <Grid>
            <Row>
                <Column lg="{{ span: 6, offset: 5 }}">
                    <Form on:submit={() => submit()}>
                        <TextInput
                                name="username"
                                required="{true}"
                                labelText="Username"
                                placeholder="Enter your username."
                                bind:value={username}
                                disabled="{disable}"
                        />
                        <PasswordInput
                                name="password"
                                required="{true}"
                                labelText="Password"
                                placeholder="Enter your password."
                                bind:value={password}
                                disabled="{disable}"
                        />
                        <Button type="submit" disabled="{disable}">
                            {#if loading}
                                <Loading withOverlay="{false}" small/>
                                Please wait...
                            {:else}
                                Log In
                            {/if}
                        </Button>
                    </Form>
                </Column>
            </Row>
            {#if notification}
                <Row>
                    <Column lg="{{ span: 6, offset: 5 }}">
                        <InlineNotification
                                kind="{notification.kind}"
                                title="{notification.title}"
                                subtitle={notification.text}
                        />
                    </Column>
                </Row>
            {/if}
        </Grid>
    </div>
</template>

<script>
    import {
        Button,
        Column,
        Form,
        Grid,
        InlineNotification,
        Loading,
        PasswordInput,
        Row,
        TextInput
    } from "carbon-components-svelte";
    import RESTHandler from "$lib/rest";
    import authStore from "../../stores/auth";
    import {onMount} from "svelte";

    const api = new RESTHandler()

    let loading = true;
    let username = "";
    let password = "";
    let notification = null;
    let disable = true;
    let token;
    authStore.subscribe((value) => {
        token = value;
    })

    onMount(async () => {
        loading = false;
        disable = false;
        if (token) {
            console.debug("Token found, checking if valid.")
            const response = await api.self(token);
            if (response.code === 200) {
                console.debug("Token is valid, redirecting to dashboard.")
                notification = {
                    kind: "info",
                    title: "Already logged in.",
                    text: "You will be redirected to the dashboard."
                }
                disable = true;
                setTimeout(() => {
                    window.location.href = "/dashboard";
                }, 2000);
            }
        }
    })

    async function submit() {
        if (!loading && username && password) {
            loading = true;
            const resp = await api.login(username, password);
            if (resp.code === 200) {
                disable = true;
                authStore.update(() => resp.data.token);
                notification = {
                    kind: "success",
                    title: "Login successful.",
                    text: "You will be redirected to the dashboard."
                }
                setTimeout(() => {
                    window.location.href = "/dashboard";
                }, 2000);
            } else {
                notification = {
                    kind: "error",
                    title: "Login failed.",
                    text: "Please check your credentials and try again."
                }
            }
            loading = false;
        }
    }
</script>
